body{
    margin: 0 auto;
    background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    font-family: 'Paprika', cursive !important;

}

.container{
    margin: 0 auto;
    padding: 35px;
}

.container-navbar{
    margin: 0 auto;
}
@media (min-width: 800px) {
    .container-navbar{
        padding: 5px;
        width: 1320px;   
    }
}

.bg-cyan-700{
    background-color: #2e716e;
}

table{
    color: #FFF;
}

.navbar-brand{
    color: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(46,86,113,1) 100%);
}

.container-body{
    background-color: rgba(0, 0, 0, 0.452);
    color: #fff;
    padding: 35px;
}

pre{
    font-family: 'Caveat', cursive !important;
    font-size: 1.5em !important;
    white-space: pre-wrap;
    word-wrap: break-word;
}