{% load static %}
{% include 'comuns/bootstrap_e_static.html' %}
<!DOCTYPE html>
<html>
    <head>
        <title>Multi Analyst</title>
        <link rel="stylesheet" href="{% static 'main/style.css' %}">
        {% include 'comuns/bootstrap_e_static.html' %}
</head>
    </head>
    <body>
        {% include 'comuns/header.html' %}
        <div class="container" style="background-color: rgba(0, 0, 0, 0.452); color: #fff">
            {% if error_message %}
                <div style="color: rgb(201, 16, 16);">
                    {{ error_message }}
                </div>
            {% endif %}
            {% for regra in regras %}
                <p>{{ regra.1 }}</p>
                {{ regra.0|safe }}
            {% endfor %}
    
            <form method="POST" action="{% url 'analise_especifica' %}">
                {% csrf_token %}
                <select name="colunas" id="colunas" multiple>
                    {% for coluna in colunas %}
                        <option value="{{ coluna }}">{{ coluna }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Analisar colunas selecionadas</button>
            </form>
        </div>
        <script src="{% static 'main/script.js' %}"></script>
    </body>
</html>