{% load static %}
{% include 'comuns/bootstrap_e_static.html' %}
<!DOCTYPE html>
<html>
    <head>
        <title>Multi Analyst</title>
        <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
    </head>
    <body>
        {{ regras|safe }}

      
        <form method="POST" action="{% url 'analise_especifica' %}">
            {% csrf_token %}
            <select name="colunas" id="colunas" multiple>
                {% for coluna in colunas %}
                    <option value="{{ coluna }}">{{ coluna }}</option>
                {% endfor %}
            </select>
            <button type="submit">Analisar colunas selecionadas</button>
        </form>
        <script src="{% static 'main/script.js' %}"></script>
    </body>
</html>