{% load static %}
{% include 'comuns/bootstrap_e_static.html' %}
<!DOCTYPE html>
<html>
    <head>
        <title>Multi Analyst</title>
        <link rel="stylesheet" href="{% static 'main/style.css' %}">
        <script src="{% static 'main/jquery-3.7.1.min.js' %}"></script>
</head>
    </head>
    <body>
        {% include 'comuns/header.html' %}
        <div class="container" style="background-color: rgba(0, 0, 0, 0.452); color: #fff;">
            <form method="POST" action="{% url 'analise_basica' %}" enctype="multipart/form-data" class="form-group">
                {% csrf_token %}
                
                <label for="{{ form.csv_file.id_for_label }}" class="form-label">Insira aqui sua base de dados (CSV)</label>
                <input class="form-control" style="width: auto" type="file" name="{{ form.csv_file.html_name }}" id="{{ form.csv_file.id_for_label }}" required>

                <label for="{{ form.context_description.id_for_label }}" class="form-label">Insira aqui uma breve descrição sobre sua base de dados:</label>
                <textarea class="form-control" style="width: auto" name="{{ form.context_description.html_name }}" id="{{ form.context_description.id_for_label }}" required></textarea>

                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <script src="{% static 'main/script.js' %}"></script>
    </body>
</html>
