{% load static %}
{% include 'comuns/bootstrap_e_static.html' %}
<!DOCTYPE html>
<html>
    <head>
        <title>Multi Analyst</title>
        <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
    </head>
    <body>
        <div class="container" style="background-color: rgba(0, 0, 0, 0.452); color: #fff;">
            <form method="POST" action="{% url 'analise_basica' %}" enctype="multipart/form-data" class="form-group">
                {% csrf_token %}
                <label for="{{ form.file.id_for_label }}">{{ form.file.label }}</label>
                <input type="file" name="{{ form.file.html_name }}" id="{{ form.file.id_for_label }}" class="form-control-file" required>

                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <script src="{% static 'main/script.js' %}"></script>
    </body>
</html>
