{% load static %}
{% include 'comuns/bootstrap_e_static.html' %}
<!DOCTYPE html>
<html>
    <head>
        <title>Multi Analyst</title>
        <link rel="stylesheet" href="{% static 'main/style.css' %}">
        {% include 'comuns/fonts.html' %}
        <script src="{% static 'main/jquery-3.7.1.min.js' %}"></script>
    </head>
    <body>
        {% include 'comuns/header.html' %}
        <div class="container container-body">
            <form method="POST" action="{% url 'analise_basica' %}" enctype="multipart/form-data" class="form-group">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_csv_file" class="form-label">Insira aqui sua base de dados (CSV):</label>
                    <input class="form-control" style="width: auto" type="file" name="csv_file" id="id_csv_file" required>
                </div>
                <div class="mb-3">
                    <label for="id_context_description" class="form-label">Insira aqui uma breve descrição sobre sua base de dados:</label>
                    <textarea class="form-control" style="width: auto" name="context_description" id="id_context_description" rows="4" cols="50" required></textarea>
                </div>
                <button type="submit" class="btn btn-success">Enviar</button>
            </form>
        </div>
        <script src="{% static 'main/script.js' %}"></script>
    </body>
</html>
